/* Styles for the TopBlock */

.TopBlock {
  background-color: #1d212f;
  color: white;
  padding-left: 60px;
  margin: 15px;
}

.TopImages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.TopBlock h1 {
  font-size: 50px;
  padding-top: 100px;
  margin-bottom: 0;
}

.TopBlock p {
  font-size: 15px;
}

#logo {
  height: 35px;
  padding-top: 20px;
}

#menu {
  height: 10px;
  padding-top: 20px;
  padding-right: 30px;
}

.TopBlock button {
  color: #1d212f;
  font-size: 15px;
  background-color: white;
  font-weight: 700;
  padding: 15px;
  border-radius: 5px;
  border-style: none;
  margin: 30px 0px 50px 0px;
}

/* Styles for the BottomBlock */

.BottomBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 100px;
  margin: 15px;
}

.BottomBlock div {
  padding-bottom: 30px;
}

.BottomBlock img {
  height: 80px;
}

.BottomBlock h3 {
  color: #1d212f;
  font-size: 15px;
  letter-spacing: 1px;
}

.BottomBlock p {
  color: grey;
  font-size: 12px;
}
